body{
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Navbar */
nav{
    background-color: #10101b;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: larger;
    flex-wrap: wrap;
}

.navbar-title{
    color: white;
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: x-large;
}
.navbar-title img{
    width: 4rem;
}
nav div{
    display: flex;
    gap: 1.5rem;
}
nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
nav a:hover{
    color: rgb(150, 106, 227);
}

/* Hero Section */
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
}
.hero h1{
    font-size: clamp(2.8rem, 4vw + 1rem, 5rem);
    margin: 0.5rem;
}
.hero p{
    margin: 0.5rem;
}

/* Flex Wrapper */
.flex-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 4px solid;
    border-bottom: 4px solid;
    padding: 2rem;
}
.flex-wrapper section{
    width: 16rem;
    height: 26rem;
    border: 2px solid;
    border-right: 0;
    padding: 0 1rem;
}
.flex-wrapper .education{
    border-right: 2px solid;
}
.flex-wrapper .reviews{
    border: 0;
    width: 48rem;
    height: fit-content;
    padding: 1rem;
    padding-bottom: 0.5rem;
}
.flex-wrapper section:last-of-type:not(.reviews){
    border-right: 2px solid;
}

/* Reviews & Testimodial Cards */
.testimodial-cards{
    display: flex;
    gap: 1rem;
}
.cards{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 2px solid;
    border-radius: 15px;
    padding: 1rem;
}
.cards img{
    width: 3rem;
    height: 3rem;
}
.content{
    font-weight: bold;
    margin: 0;
    padding: 1rem;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.profile-detail h1, .profile-detail p{
    margin: 0;
}
.profile-detail h1{
    font-size: larger;
}

/* Footer*/
footer{
    display: flex;
    justify-content: center;
    margin: 4rem;
    font-weight: bold;
}

/* Media Quaries */
@media (max-width: 750px) {
    nav {
        justify-content: center;
        text-align: center;
        gap: 1rem;
    }
    .navbar-title {
        justify-content: center;
        width: 100%;
    }
    nav div {
        justify-content: center;
        width: 100%;
    }
}
@media (max-width: 920px) {
    .flex-wrapper section:first-of-type{
        border-right: 0;
    }
    .flex-wrapper section{
        border-right: 2px solid;
    }
    .flex-wrapper section:last-of-type{
        border-top: 0;
    }
}
@media (max-width: 630px) {
    .flex-wrapper section:first-of-type{
        border-right: 2px solid;
        border-bottom: 0;
    }
}
